<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container p-3 my-3 text-white">
    <!--div class="d-flex flex-wrap" th:each="pokemon : ${pokemons}">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-info" th:text="${pokemon.name}"></p>
                <p class="card-text text-info" th:text="${pokemon.height}"></p>
                <p class="card-text text-info" th:text="${pokemon.weight}"></p>
            </div>
        </div>
    </div-->
</div>
</body>
</html>